{% extends 'temp/student.html' %}
{% block base1 %}


<!DOCTYPE html>
<html>
<head>
	<title>view videos</title>
</head>
<body>
	<center>
		<h2 style="color: orangered">TUTORIAL VIDEOS</h2>
		<table border="5" class="table table-striped">
			<tr>
				<th style="color: white">Teacher Name</th>
				<th style="color: white">Subject</th>
				<th style="color: white">Type</th>
				<th style="color: white">video</th>
{#				<th>Action</th>#}
			</tr>
            {% for i in b %}
			<tr>
				<td style="color: white">{{ i.teacher.teacher_name }}</td>
				<td style="color: white">{{ i.subject }}</td>
				<td style="color: white">{{ i.type }}</td>
                <td style="color: white"><video controls="controls" width="200px" height="200px"><source src="/static/{{ i.video }}"type="video/mp4"></video></td>
{#				<td><button value="View">view</td>#}
			</tr>
            {% endfor %}
		</table>
	</center>

</body>
</html>
{% endblock %}